{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FUN Taxi Dash</title>
    <link rel="stylesheet" type="text/css" href="{% static 'discover/styles/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'discover/styles/discover.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                console.log("Geolocation is not supported by this browser.");
            }
        }

        function showPosition(position) {
            console.log(position.coords.latitude);
            console.log(position.coords.longitude);
            $('#hdnLatitude').val(position.coords.latitude);
            $('#hdnLongitude').val(position.coords.longitude);
{#            $('#hdnLatitude').val(41.837552);#}
{#            $('#hdnLongitude').val(140.765535);#}
        }

        getLocation();
    </script>
</head>
<body>
<header class="header">
    <div id="taxidashIcon"></div>
    <h1 class="header_title">Taxi Dash</h1>
    <form action="{% url 'discover:organize' %}" method="post">
        {% csrf_token %}
        <button id="butAdd" class="headerButton" aria-label="Add"></button>
        <input type="hidden" id="hdnLatitude" name="latitude">
        <input type="hidden" id="hdnLongitude" name="longitude">
    </form>
</header>

<main class="main">
    {% if trips %}
        <div class="list-msg">Here are the trips near you:</div>
        {#        {% include 'discover/triplist.html' %}#}
        {% for trip in trips %}
            <div class="card cardTemplate trip" id="{{ trip.id }}">
                <div class="left">
                    <div class="organizer label">{{ trip.organizer }}</div>
                    <div class="meetup-point">
                        <div class="locpin"></div>
                        <div class="location">{{ trip.meetup_pt }}</div>
                    </div>
                </div>
                <div class="right">
                    <div class="label">Available seats</div>
                    <div class="seats">
                        <span class="available">{{ trip.avail_passengers }}</span><span class="maxSeats">/4人</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="list-msg">There are 0 trips available. Press the (+) icon to organize a new one.</div>
    {% endif %}
</main>

<div class="dialog-container" id="join">
    <div class="dialog">
        <div class="dialog-title">Join a trip</div>
        <form class="dialog-body" action="{% url 'discover:join' %}" method="post">
            {% csrf_token %}
            <div class="dialog-body">
                <div class="dialog-form">
                    <div id="lblPassenger">Your name</div>
                    <input name="passenger" id="txtPassenger" type="text">
                    <input name="trip_id" id="trip_id" type="hidden">
                </div>
                <div class="dialog-info">Do you want to join <span class="dialog-organizer"></span>'s group?</div>
            </div>
            <div class="dialog-buttons">
                <input type="button" id="butCancel" class="button" value="Cancel"/>
                <button type="submit" id="butJoin" class="button preferred">Join</button>
            </div>
        </form>
    </div>
</div>

<div class="loader">
    <svg viewBox="0 0 32 32" width="32" height="32">
        <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
    <div class="wait-msg">Looking for nearby trips.</div>
</div>

<script src="{% static 'discover/scripts/discover.js' %}"></script>
</body>
</html>