{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FUN Taxi Dash</title>
    <link rel="stylesheet" type="text/css" href="{% static 'discover/styles/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'discover/styles/trip.css' %}">
</head>
<body>
<header class="header">
    <div id="taxidashIcon"></div>
    <h1 class="header_title">Taxi Dash</h1>
    <form action="{% url 'discover:index' %}" method="get">
        <button id="butCancel" class="headerButton" aria-label="Cancel"></button>
    </form>
</header>

<main class="main">
    {% if trips %}
        <div class="list-msg">Here are the trips near you:</div>
        {% for trip in trips %}
            <div class="card cardTemplate trip">
                <div class="left">
                    <div class="organizer label"><a href="{% url 'discover:detail' trip.id %}">{{ trip.organizer }}</a></div>
                    <div class="meetup-point">
                        <div class="locpin"></div><div class="location"><a href="{% url 'discover:detail' trip.id %}">{{ trip.meetup_pt }}</a></div>
                    </div>
                </div>
                <div class="right">
                    <div class="label">Available seats</div>
                    <div class="seats">
                        <span class="available">{{ trip.avail_passengers }}</span><span class="maxSeats">/4人</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="list-msg">There are 0 trips available. Press the (+) icon to organize a new one. </div>
    {% endif %}
</main>
</body>
</html>